.body-1{
    width: 100%;
    padding: 20px;
    display: inline-flex;
    button{
        background-color: transparent;
        border: none;
    }
    h3{
        width: 100%;
        text-align: center;
    }
}