.sectionHeaderSecond{
    width: 100%;
    padding: 20px;
    display: inline-flex;
    button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    h3{
        width: 100%;
        text-align: center;
        color: #25507d;
    }
}